.card {
  border: 1px dotted #d2d2d2;
  border-radius: 10px;
  padding: 1rem;
}

.card > .completeImageContainer {
  position: relative;
}

.card > .completeImageContainer > .imageWrapperBlurryBackground {
  position: relative;
  height: 6rem;
  width: 100%;
  filter: blur(0.5rem);
  opacity: 0.5;
}

.card > .completeImageContainer > .imageWrapper {
  position: absolute;
  height: 5rem;
  width: 10rem;
  left: calc(50% - (10rem / 2));
  top: calc((6rem - 5rem) / 2);
}

.card > .summaryText {
  font-size: 1.2rem;
  font-weight: 500;
}
