.container {
  /* border: 1px solid black; */
  width: 80%;
  margin: auto;
}

.sectionTitle {
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem 0;
}

/* Grid styling (start) */
.cardsWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  padding: 1rem;
  flex-grow: 1;
  /* 2 columns  */
  width: calc(100% / 2 - 5%);
}

@media only screen and (max-width: 600px) {
  .card {
    /* 1 column */
    width: 100%;
  }
}

/* Grid styling (end) */

.summaryText {
  font-size: 1.2rem;
  font-weight: 500;
}
