.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hi {
  font-size: 2rem;
  font-weight: 600;
}

.summary {
}

.summaryHighlight {
  color: blue;
  font-weight: 500;
}

.extra {
}
