.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .innerContainer {
  max-width: 600px;
}

.handle {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.handle p {
  padding: 0 10px;
  margin: 0;
}

.handle .iconImageWrapper {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
.handle .iconImageWrapper > img {
  width: 100%;
  height: 100%;
}
