.container {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .innerContainer {
  border: 1px solid gray;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.iconImageWrapper {
  border: 1px solid gray;
}
